.app-header {
  display: flex;
  flex-direction: column;
  gap: 0.8em;

  .app-logo {
    display: flex;
    align-items: center;
    gap: 0.6em;
    h1 {
      font-size: 2.4rem;
      font-weight: 800;
      color: #ececec;

      span {
        color: #00acc1;
      }
    }

    svg {
      font-size: 2.6rem;
      color: #00acc1;
    }
  }

  .app-text {
    display: flex;
    align-items: center;
    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: #bec1ca;

      svg {
        color: #00acc1;
      }
    }
  }
}
