.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2rem;
  background: #333333;
  box-shadow: 0.2rem 0.1rem 0.6rem #333333;

  .brand {
    display: flex;
    align-items: center;
    gap: 0.4em;

    h1 {
      font-family: system-ui;
      font-size: 2.4em;
      font-weight: bold;
      color: #dddddd;
    }

    svg {
      font-size: 2.8em;
      font-weight: normal;
      color: #e27065;
    }
  }

  .menuButton {
    display: none;
    font-size: 3.8em;
    font-weight: normal;
    color: #e27065;
  }

  .navi {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8em;

    button {
      display: flex;
      align-items: center;
      gap: 0.4em;

      background: #202020;
      border: solid 0.1rem #202020;
      border-radius: 0.5rem;

      font-family: 'Lato', system-ui;
      font-size: 1.2em;
      font-weight: bold;
      color: #dddddd;

      padding: 1rem;
      cursor: pointer;

      &:first-child {
        background: #e27065;
        color: #202020;
        border-radius: 50%;
      }
    }

    input {
      font-family: 'Lato', system-ui;
      font-size: 1.2em;
      font-weight: 560;
      color: #dddddd;

      padding: 1rem;

      background: #202020;
      border: solid 0.1rem #202020;
      border-radius: 0.5rem;
    }
  }
}

.menu {
  display: none;
  flex-direction: column;
  background: #1c1c1c;
  padding: 0.5rem;
  gap: 0.5em;

  button {
    display: flex;
    align-items: center;
    gap: 0.4em;

    background: #202020;
    border: solid 0.1rem #333232;
    border-radius: 0.5rem;

    font-family: 'Lato', system-ui;
    font-size: 1.2em;
    font-weight: bold;
    color: #dddddd;

    padding: 1rem;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .nav {
    justify-content: space-between;

    .menuButton {
      display: flex;
    }

    .navi {
      display: none;
    }
  }

  .menu {
    display: flex;
  }
}
