#root {
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;
  background: #282c34;
  border-radius: 0.8rem;
  box-shadow: 0.2rem 0.1rem 0.6rem #1c1c1c;
  /* height: 50vh; */
  padding: 2rem;
  margin: 5rem;
}

.app .header {
  display: flex;
  align-items: center;
  gap: 1rem;

  /* background: #3e6f99; */
}

.app .header svg {
  font-size: 2.4rem;
  color: #828997;
}

.app .header .title {
  font-size: 2rem;
  font-weight: 600;

  color: #ffffff;
}

.app .form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  background: #da6923;
}
.app .form .input {
  display: flex;
  align-items: center;
}

.app .todos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  padding: 1rem;

  background: #21252b;
  /* border-radius: 1rem; */

  opacity: 0.7;
}

.app .todos .task {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* 
  font-family: "Inter", sans-serif;
  font-weight: normal; 
  */
  background: #212222;
  box-shadow: inset 0 0 0.5px 1px #ffffff1a, 0 0 0 1px #14151a13,
    0 0.3px 0.4px #14151a05, 0 0.9px 1.5px #14151a0b, 0 3.5px 6px #14151a17;

  width: 20rem;
  min-height: 8rem;

  padding: 1rem;
  font-size: 0.8rem;
}

.app .todos .task .title {
  display: flex;

  font-size: 1.4em;
  color: #d3d3d3;
}

.app .todos .task .body {
  display: flex;

  font-size: 1.4em;
  color: #d3d3d3;
}
