@import url('https://fonts.cdnfonts.com/css/lato');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  font-stretch: condensed;
  background-color: #242424;
}

html {
  scroll-behavior: smooth;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

.material {
  background: #1c1c1c;
  box-shadow: 0rem 0rem 0.1rem #6f6f6f;
}
