.board {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 0.4em;
  padding: 1rem;

  background: #202020;
  box-shadow: 0.2rem 0.1rem 0.6rem #202020;
}

@media only screen and (max-width: 1200px) {
  .app {
    .board {
      flex-wrap: wrap;
      .board-list {
        height: auto;
      }
    }
  }
}
